body {
  text-align:center;
  font-family:sans-serif;
}
header {
  background:PaleGreen;
  font-size:20px;
}
header img {
  width:70px;
  height:70px;
}
a {
  text-decoration:none;
  border-radius: 10px;
  border:1px solid black;
  padding:5px;
}
main a {
  color:Fuchsia;
  background:MediumSpringGreen;
  border:2px solid Lime;
}
h1 {
  font-size:50px;
  text-decoration: underline;
  text-decoration-style: wavy;
}
h2 {
  font-size:40px;
}
main p {
  font-size:27px;
  border:2px solid green;
  background:LightSeaGreen;
  border-radius:15px;
}
footer {
  background:PaleGreen;
  font-size:20px;
}
main img {
  width:250px;
  height:150px;
}
